body {
	background-color: #ECEFF1;
}

.title-container {
	/*background-color: #009688;*/
	width: 100%;
	height: 10em;
	background: -webkit-linear-gradient(right, #00796B 60%, #4DB6AC); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #00796B 60%, #4DB6AC); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #00796B 60%, #4DB6AC); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #00796B 60%, #4DB6AC); /* Standard syntax */
}

.title-container .title {
	position: relative;
	float: left;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 55px;
	margin-left: .5em;
}

.container {
	text-align: center;
}

.container * {
	width: 60%;
	text-align: center;
	margin: 2em auto 0 auto;
	font-family: 'Roboto Slab', serif;
}

.container .player-form {
	margin-bottom: 2em;
}

.container .player-form * { 
	padding: 3px; 
	font-size: 16px; 
	border-width: 3px; 
	border-radius: 12px; 
	border-style: ridge; 
	border-color: #00796b; 
	text-shadow:0px 0px 0px rgba(42,42,42,.75); 
	box-shadow: -5px 5px 19px 0px rgba(42,42,42,.75); 
	display: inline-block;
} 

.container .player-form .player {
	width: 17em;
}

.container .player-form .season-type {
	width: 9.75em;
	margin-right: .2em;
}

.container .player-form .year {
	width: 4.75em;
	margin-left: .2em;
}

.container .player-form .button,
#reset {
	width: 7.5em;
	-webkit-border-radius: 26;
	-moz-border-radius: 26;
	border-radius: 26px;
	border-color: #DD2c00;
	border-style: none;
	color: #ffffff;
	font-size: 16px;
	background: #DD2C00;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.container .player-form .button:hover,
#reset:hover {
	background: #FF6E40;
}

.container .player-form .button:active,
#reset:active {
	background: #FF6E40;
}

.container .player-form .button:active,
#reset:active {
	outline: 0;
	background: #FF6E40;
	position: relative;
	top: 1px;
}

.container .player-form .player:focus,
.container .player-form select:focus{
	outline: none;
}


.stats-table,
#reset {
	display: none;
	font-size: 10px;
}

#reset {
	width: 10em;
	text-align: center;
}

table {
	width: 300px;
}

.stats-table * {
	width: 11em;
	padding: .2em;
}

.stats-subcategories td {
	border-bottom: 2px solid #FF6E40;
}

.stats-categories {
	background-color: #00796B;
	color: white;
	height: 2.5em;
	letter-spacing: .5px;
}

.stats-categories th {
	font-size: 1.25em;
}

.stats-subcategories {
	background-color: #4DB6AC;
}

.stats-categories th:nth-child(1),
.stats-categories th:nth-child(2),
.stats-categories th:nth-child(3),
.stats-subcategories td:nth-child(1),
.stats-subcategories td:nth-child(6),
.stats-subcategories td:nth-child(10) {
	border-right: 2px solid #FF6E40;
}

.stats:nth-child(odd){
	background-color: lightgrey;
}


