body {
	background-color: #ECEFF1;
}

.title-container {
	/*border: 1px solid red;*/
	background-color: #009688;
	width: 100%;
	height: 8em;
}

.title-container .title {
	position: relative;
	float: left;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 55px;
	margin-left: .5em;
}

.container * {
	width: 75%;
	text-align: center;
	margin: 2em auto 0 auto;
	font-family: 'Roboto Slab', serif;
}

.container .player-form {
	margin-bottom: 2em;
}

.container .player-form * { 
	padding:3px; 
	font-size:16px; 
	border-width:3px; 
	border-radius:12px; 
	border-style:ridge; 
	border-color:#00796b; 
	text-shadow:0px 0px 0px rgba(42,42,42,.75); 
	box-shadow: -5px 5px 19px 0px rgba(42,42,42,.75); 
} 

.container .player-form .player {
	width: 17em;
}

.container .player-form .season-type {
	width: 9.75em;
}

.container .player-form .year {
	width: 4.75em;
}

.container .player-form .add-player {
	width: 4.5em;
	background-color: #00796b;
}

.container .player-form .player:focus,
.container .player-form select:focus{
	outline: none;
}

#stats-table,
tr,
th {
	border: 1px solid black;
}

#stats-table * {
	display: none;
}